@using MyCheeseShop.Model

<div class="card h-100" style="max-width: 300px;">
    <div class="container text-center">
        <div>
            <img src="https://cheese-etc.co.uk/wp-content/uploads/2020/02/westcombe-cheddar-cheese.jpeg" class="img-fluid rounded-start" />
        </div>
        <div class="col">
            <h5>
                <span class="badge bg-primary">@Cheese.Type</span>
                <span class="badge bg-success">@Cheese.Strength</span>
            </h5>
            <h4 class="card-title">@Cheese.Name </h4>
            <h5>
                <span class="badge bg-danger">£@Cheese.Price</span>
            </h5>
            <p>@Cheese.Description</p>
            <EditForm Model="quantity" OnSubmit="AddToCart">
                <div>
                    <select class="form-select" id="inputGroupSelect01">
                        @for (var i = 1; i <= 5; i++)
                        {
                            <option value="@i">@(i * 100)g </option>
                        }
                    </select>
                    <p></p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <p></p>
                </div>
            </EditForm>
        </div>
        
    </div>
</div>

<EditForm Model="quantity" OnSubmit="AddToCart">
    <div></div>
</EditForm>




@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        
    }
}
