@using MyCheeseShop.Model

<div class="card h-100" style="max-width: 300px;">
    <div class="container text-center">
        <div>
            <img src="./img/@Cheese.ImageURL" class="img-fluid rounded-start" />
        </div>
        <div class="col">
            <div class="row">
                <h5>
                    <span class="badge bg-primary">@Cheese.Type</span>
                    <span class="badge bg-success">@Cheese.Strength</span>
                </h5>
                <h4 class="card-title">
                    @Cheese.Name
                    <span class="badge bg-danger">£@Cheese.Price</span>
                </h4>
                <p>@Cheese.Description</p>
                <EditForm Model="quantity" OnSubmit="AddToCart">
                    <div>
                        <InputSelect class="form-select w-100" @bind-Value="quantity" required>
                            @for (var i = 1; i <= 5; i++)
                            {
                                <option value="@i">@(i * 100)g </option>
                            }
                        </InputSelect>
                        <p></p>
                        <button type="button" class="btn btn-outline-primary">
                            Add to cart
                        </button>
                        <p></p>
                    </div>
                </EditForm>
            </div>
        </div>
        
    </div>
</div>




@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        
    }
}
